<%= form_for ([@request, @request.comments.build]) do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: 'form-control', placeholder: 'Add your comment' %>
    <br>
      <div class="d-flex justify-content-end">
        <%= f.submit 'Post', class: 'btn btn-primary' %>
      </div>
  </div>
<% end %>