<div class="card my-1">
  <div class="card-body">
    <%= form_for ([@request, @request.comments.build]) do |f| %>
      <div class="form-group">
        <%= f.text_area :body, class: 'form-control', placeholder: 'Add your comment' %>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>