<div class="container text-center">
    <%= month_calendar(events: @requests) do |date, requests| %>
        <div class="day">
            <%= date.day %>
        </div>

        <% requests.each do |request| %>
            <%= image_tag(request.user.avatar.thumb.url, style: "height:40ps;width:40px;", class: "rounded") if request.user.avatar? %>
            <p><%= request.user.full_name %></p>
        <% end %>
    <% end %>
</div>