<nav class="navbar navbar-expand-lg navbar-light bg-light"> <a class="navbar-brand" href="#" data-abc="true">Management</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="#" data-abc="true">Home<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"> <a class="nav-link" href="#" data-abc="true">About</a> </li>
            <li class="nav-item"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
        </ul>
        <%= form_tag(users_path, method: :get) do %>
            <div class="form-inline my-2 my-lg-0">
                <%= text_field_tag :key, "", class: "form-control mr-sm-2", placeholder: "Search" %>
                <%= submit_tag 'Search', class: "btn btn-secondary my-2 my-sm-0" %>
            </div>
        <% end %>
    </div>
</nav>